<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  </head>
  <style>
    .success {
      color: rgb(94, 182, 53);
    }

    .error {
      color: rgb(222, 72, 55);
    }
  </style>
  <body>
    <div class="mx-auto container pt-4 sm:pt-8">
      <p class="text-3xl">Total chats: <span id="total"></span></p>
      <div class="overflow-hidden">
        <table class="min-w-full" id="chats">
          <thead class="border-b">
            <tr>
              <th
                scope="col"
                class="text-sm font-medium text-gray-900 px-6 py-4 text-center"
              >
                Title
              </th>
              <th
                scope="col"
                class="text-sm font-medium text-gray-900 px-6 py-4 text-center"
              >
                ID
              </th>
              <th
                scope="col"
                class="text-sm font-medium text-gray-900 px-6 py-4 text-center"
              >
                Active
              </th>
              <th
                scope="col"
                class="text-sm font-medium text-gray-900 px-6 py-4 text-center"
              >
                created_at
              </th>
              <th
                scope="col"
                class="text-sm font-medium text-gray-900 px-6 py-4 text-center"
              >
                updated_at
              </th>
            </tr>
          </thead>
          <tbody class="text-center"></tbody>
        </table>
      </div>
      <canvas class="p-10" id="chartLine"></canvas>
    </div>
    <script>
      const tableFields = ["title", "id", "active", "created_at", "updated_at"];
      fetch("/chats")
        .then((response) => response.json())
        .then((response) => renderChatsChart(response));
      const renderChatsChart = (chatsData) => {
        console.log("rendering chats", chatsData);
        document.getElementById("total").innerHTML = chatsData.chats.length;

        const tableBody = document.getElementById("chats").tBodies[0];
        console.log(tableBody);

        chatsData.chats.forEach((chat) => {
          const row = document.createElement("tr");
          tableFields.forEach((field) => {
            const cell = document.createElement("td");
            if (field == "active") {
              if (chat.active) {
                cell.classList.add("success");
                cell.innerHTML = "active";
              } else {
                cell.classList.add("error");
                cell.innerHTML = "not-active";
              }
            } else {
              cell.innerHTML = chat[field];
            }
            row.append(cell);
          });
          tableBody.appendChild(row);
        });

        const labels = chatsData.labels;
        const chartData = {
          labels: labels,
          datasets: [
            {
              label: "Chats per day",
              backgroundColor: "hsl(252, 82.9%, 67.8%)",
              borderColor: "hsl(252, 82.9%, 67.8%)",
              data: chatsData.values,
            },
          ],
        };

        const configLineChart = {
          type: "line",
          data: chartData,
          options: {},
        };

        var chartLine = new Chart(
          document.getElementById("chartLine"),
          configLineChart
        );
      };
    </script>
  </body>
</html>
