<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  </head>
  <body>
    <div class="mx-auto container pt-4 sm:pt-8">
        <p class="text-3xl">Total chats: <span id="total"></span></p>
        <ul id="chats"></ul>
        <canvas class="p-10" id="chartLine"></canvas>
    </div>
    <script>
      fetch("/chats")
        .then((response) => response.json())
        .then((response) => renderChatsChart(response));
      const renderChatsChart = (chatsData) => {
        
        console.log("rendering chats", chatsData);
        document.getElementById('total').innerHTML = chatsData.values.reduce((partialSum, a) => partialSum + a, 0);

        const ul = document.getElementById('chats');
        const listElements = chatsData.chats.map(chat=>{
            const li =  document.createElement('li');
            li.innerHTML = chat.title ? `${chat.title}: ${chat.id}` : chat.id;
            ul.appendChild(li);
        })


        const labels = chatsData.labels;
        const chartData = {
          labels: labels,
          datasets: [
            {
              label: "Chats per day",
              backgroundColor: "hsl(252, 82.9%, 67.8%)",
              borderColor: "hsl(252, 82.9%, 67.8%)",
              data: chatsData.values,
            },
          ],
        };

        const configLineChart = {
          type: "line",
          data:chartData,
          options: {},
        };

        var chartLine = new Chart(
          document.getElementById("chartLine"),
          configLineChart
        );
      };
    </script>
  </body>
</html>
