<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  </head>
  <body>
    <div class="mx-auto container pt-4 sm:pt-8">
        <p class="text-3xl">Total chats: <span id="total"></span></p>
        <canvas class="p-10" id="chartLine"></canvas>
    </div>
    <script>
      fetch("/chats")
        .then((response) => response.json())
        .then((chats) => renderChatsChart(chats));
      const renderChatsChart = (chats) => {
        document.getElementById('total').innerHTML = chats.values.reduce((partialSum, a) => partialSum + a, 0);
        console.log("rendering chats", chats);

        const labels = chats.labels;
        const data = {
          labels: labels,
          datasets: [
            {
              label: "Chats per day",
              backgroundColor: "hsl(252, 82.9%, 67.8%)",
              borderColor: "hsl(252, 82.9%, 67.8%)",
              data: chats.values,
            },
          ],
        };

        const configLineChart = {
          type: "line",
          data,
          options: {},
        };

        var chartLine = new Chart(
          document.getElementById("chartLine"),
          configLineChart
        );
      };
    </script>
  </body>
</html>
